.con {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  padding: 20px;
  margin-left: 40px;
}
h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #1565c0;
}

/* Container for Medicines */
#medicines-container {
  display: flex;
  flex-wrap: wrap; /* Wrap items to the next row if needed */
  justify-content: space-between;
  gap: 20px; /* Add space between items */
  margin-bottom: 20px;
}

/* Each Medicine Item */
.medi {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: calc(33.333% - 20px); /* 3 items per row, adjust gap accordingly */
  transition: transform 0.3s ease;
}

/* .medi:hover {
  transform: translateY(-5px);
} */

.medi img {
  width: 100%;
  max-height: 200px;
  height: auto;
  display: block;
}

.details {
  padding: 15px;
  text-align: center;
}

.mediname {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.mediname span {
  color: #777;
  font-size: 17px;
}
.priceAndButton {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.price {
  font-size: 25px;
  margin-bottom: 15px;
  color: black;
}

.add {
  font-size: 20px;
  background-color: #1565c0;
  color: #fff;
  padding: 10px 25px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add:hover {
  background-color: #0d47a1;
}
