.medicines {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.medi {
  width: 100%;
  height: 275px;
  border: 1px solid black;
  margin: 0 10px;
}
.medi img {
  height: 150px;
  width: 100%;
  object-fit: cover;
}
